{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/entry_detail.css') }}">
{% endblock %}

{% block title %}Entry Detail{% endblock %}

{% block content %}
<div class="entry-detail">
    <div class="back-link">
        <a href="/dashboard" class="button">Go Back</a>
    </div>

    <div class="entry-detail-content">
        <p class="entry-text">{{ entry.text }}</p>
        {% if entry.tags %}
        <div class="entry-tags">
            {% for tag in entry.tags %}
            <a href="/dashboard?tag={{ tag }}" class="tag-link"><span class="tag">#{{ tag }}</span></a>
            {% endfor %}
        </div>
        {% endif %}
        {% if entry.image %}
        <div class="entry-detail-image-container">
            <img src="{{ url_for('static', filename=entry.image) }}" alt="entry image" class="entry-image">
        </div>
        {% endif %}
    </div>

    <div class="entry-actions">
        <form action="/edit_entry/{{ entry.id }}" method="get">
            <button type="submit">Edit</button>
        </form>
        <form action="/delete_entry/{{ entry.id }}" method="post">
            <input type="hidden" name="entry-id" value="{{ id }}" />
            <button type="submit">Delete</button>
        </form>
    </div>
</div>
{% endblock %}