#list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
figure{
  width:130px;
  border: 1px solid red;
  grid-column: span 1;
  animation: pop-in 0.5s ease-in-out;
  text-align: center;
}
 
@keyframes pop-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}