#list {
  display: flex; /* Make the container a flexbox */
  flex-wrap: wrap; /* Allow elements to wrap onto new lines */
  width: fit-content; /* Adjust width as needed */
  margin: 0 auto; /* Center the list horizontally */
}



figure{
  width:130px;
  border: 1px solid red;
  grid-column: span 1;
  animation: pop-in 0.5s ease-in-out;
  text-align: center;
}
.pokeImage{border: 1px solid green;}
.name{color:red}
 
@keyframes pop-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}